<div class="row padded-row">
<div class="span12" style="text-align: center;">
<a class="normal" href="/"><h1><% if(_.isString(htmlTitle)) { print(htmlTitle); } else { print(title); } %></h1></a>
<% if(_.isString(subtitle)){ print('<h4>'+subtitle+'</h4>'); } %>
<% if(req) {
  if(req.session && req.session.user) {
    print('Logged in as '+req.session.user+' | ');
    print('<a class="no-ajax" href="/upload">Upload</a> | ');
    print('<a class="no-ajax" href="/logout">Logout</a>');
  }
  else { print('<a class="no-ajax" href="/login">Admin Panel</a>'); }
  print('<br>');
} %>
</div>
</div>
