<div class="row padded-row">
<div class="span12" style="text-align: center;">
<form class="form-search" id="tag-form" action="/search" method="POST">
<input type="text" id="search-query" name="query" class="input-medium search-query">
<button id="tag-button" type="submit" class="btn">Search</button>
</form>
</div>
</div>
<div class="row padded-row">
<ul class="thumbnails">
<%= imagesLi %>
</ul>
<script type="text/javascript">
function scriptize() {
  $("img.to-scriptize").each(function(idx) {
    var newSrc = $(this).attr("src");
    if(window.devicePixelRatio>=1.5 && newSrc.indexOf("thumb2x")<0)
      newSrc = newSrc.replace("thumb","thumb2x");
    $(this).attr("src",newSrc).removeClass("to-scriptize");
  });
}
function pageLoad() {
  scriptize();
  var position = <%= position %>;
  var maxpos = <%= maxpos %>;
  var pageSize = <%= pageSize %>;
  var isUpdating = false;
  var noAjaxLoad = <%= noAjaxLoad %>;
  var update = function() {
    if(isUpdating || noAjaxLoad) return;
    if(position+pageSize < maxpos && $(window).scrollTop() >= ($(document).height() - $(window).height() - 300)) {
      isUpdating = true;
      position = position + pageSize;
      $.get("?mode=append&start="+position,function(data) {
        $("ul.thumbnails").append(data);
        scriptize();
        setTimeout(update,50); // In case of huge scrollings
        isUpdating = false;
      });
    }
  };
  if(!noAjaxLoad) {
    $(window).scroll(update);
    $(document).ready(update);
  }
}
function pageUnload() {
  $(window).unbind("scroll");
  
}
</script>
</div>
