
<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/mobile.css" rel="stylesheet" type="text/css" media="handheld">
<style>
a.normal {
  color: #000;
  text-decoration: none;
}
.padded-row {
  margin-top: 20px;
}
body {
  background-color: <%= style.bgcolor %>;
}
.thumbnail {
  background-color: #FFF;
}
.thumbnail-300 { width: 300px; height: 300px !important; }
h1 {
 color: #222;
}
<% if(useLazyLoad) {
  print(".lazy { display: none; }");
} %>
</style>
</head>
<body>
<script src="<%
  if(useZepto) print("/static/js/zepto.min.js");
  else print("/static/js/jquery-1.9.1.min.js");
%>"></script>
<% if(useLazyLoad) {
  print('<script src="/static/js/jquery.lazyload.min.js"></script>');
} %>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<div class="container" id="page-inject"><%= page %></div>
<script>
function fixURLs() {
  <% if(noAjaxURL) { print('return;'); } %>
  $("a").each(function(idx) {
    if(!$(this).hasClass("no-ajax"))
      $(this).click(changeView);
  });
}
function redirect(url,noPush) {
  console.log("Redirecting to " + url);
  var url2 = url + "?mode=raw";
  if(url.substr(url.length-1,1)!="/") url2 = url + "?mode=raw";
  $.get(url2, function(data) {
    history.replaceState({currentUrl: location.pathname}, "", location.pathname);
    if(!noPush) history.pushState({currentUrl: url}, "", url);
    pageUnload();
    $("#page-inject").html(data);
    setTimeout(function() {
      fixURLs();
      pageLoad();
      setTimeout(function() {
        $(window).trigger("scroll");
      }, 20);
    }, 0);
  });
}
function changeView(ev) {
  ev.preventDefault();
  redirect($(this).attr("href"));
}
window.onpopstate = function(event) {
  if(event.state && typeof(event.state.currentUrl) == "string")
    redirect(event.state.currentUrl,true);
}

fixURLs();
pageLoad();
</script>
</body>
</html>
