<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/mobile.css" rel="stylesheet" type="text/css" <% if(!mobile) print('media="handheld"'); %>>
<style type="text/css">
a.social:hover { opacity: 0.7; }
.padded-row { margin-top: 20px; }
.thumbnail { background-color: #FFF; }
.thumbnail-300 { width: 300px; height: 300px !important; }
h1 { color: #222; }
.lazy { display: none; }
<%= skin.css %>
</style>
</head>
<body>
<script src="<%= frameworks[framework] %>"></script>
<% if(lazyLoading) {
  print('<script src="/static/js/jquery.lazyload.min.js"></script>');
} %>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<div class="container" id="page-inject"><%= page %></div>
<script>
function fixURLs() {
  <% if(!ajaxFetching) { print('return;'); } %>
  $("a").each(function(idx) {
    if(!$(this).hasClass("no-ajax"))
      $(this).click(changeView);
  });
}
function redirect(url,noPush) {
  console.log("Redirecting to " + url);
  var url2 = url + "?mode=raw";
  if(url.substr(url.length-1,1)!="/") url2 = url + "?mode=raw";
  $.get(url2, function(data) {
    history.replaceState({currentUrl: location.pathname}, "", location.pathname);
    if(!noPush) history.pushState({currentUrl: url}, "", url);
    pageUnload();
    $("#page-inject").html(data);
    setTimeout(function() {
      fixURLs();
      pageLoad();
      setTimeout(function() {
        $(window).trigger("scroll");
      }, 20);
    }, 0);
  });
}
function changeView(ev) {
  ev.preventDefault();
  redirect($(this).attr("href"));
}
window.onpopstate = function(event) {
  if(event.state && typeof(event.state.currentUrl) == "string")
    redirect(event.state.currentUrl,true);
}

fixURLs();
pageLoad();
</script>
</body>
</html>
