<script src="/static/js/jquery.form.js"></script>
<div class="row padded-row">
<div class="span5">
<form id="upload-form" action="/upload/post" method="post">
<fieldset id="upload-fields">
<legend>Upload</legend>
<input type="hidden" name="uploader" value="<%= username %>">
<label>Name</label>
<input type="text" name="name" id="input-name">
<label>Author</label>
<input type="text" name="author" id="input-author">
<label>Source</label>
<input type="text" name="source" id="input-source">
<label>Thumbnail location</label>
<select name="gravity">
  <option>Center</option>
  <option>NorthWest</option>
  <option>North</option>
  <option>NorthEast</option>
  <option>West</option>
  <option>East</option>
  <option>SouthWest</option>
  <option>South</option>
  <option>SouthEast</option>
</select>
<label>Tags [comma separated]</label>
<input type="text" name="tags_string" id="input-tags">
<label>File</label>
<input type="file" name="image" id="input-image">
<button type="submit" class="btn" id="button-add">Add</button>
<br><br>
<label>Custom thumbnail (600x600) [optional]</label>
<input type="file" name="thumbnail" id="input-thumbnail">
</fieldset>
</div>
<div class="span7">
<h3>Files</h3>
<div id="file-list"></div>
</div>
</div>
<script type="text/javascript">
var files = [];

function pageLoad(){
  $('#upload-form').submit(function() {
    var pid = _.uniqueId("file-list_");
    $('#file-list').append("<p id='" + pid + "'>" + $('#input-image').val() + '</p>');
    $(this).ajaxSubmit(function() {
      $('#'+pid).append(" <b>[OK]</b>");      
    });
    return false;
  });
  $('#input-image').change(function(e){
    var fn = $(this).val();
    console.log(fn);
    var patt = /([a-z0-9_]+)_by_([a-z0-9_]+)-([a-z0-9]{7,})\.([a-z]{3,4})/;
    var test = fn.match(patt);
    console.log(test);
    if(_.isArray(test) && test.length == 5) { // deviantART
      $('#input-source').val("http://fav.me/"+test[3]);
      $('#input-author').val(test[2].replace("_","-"));
      var n = test[1].replace(/_/g," ").replace(/ +/g," ").trim();
      n = n.charAt(0).toUpperCase() + n.slice(1);
      $('#input-name').val(n);
    }
  });
}
function pageUnload(){}
</script>
</div>
