<div class="row padded-row">
<div class="span12" style="text-align: center;">
<a href="/img/src/<%= image.filename %>" class="no-ajax">
<img src="/img/src/<%= image.filename %>" style="display: none; max-width: 90%; height: auto;" class="img-polaroid to-resize">
</a><br><br>
<h3 style="margin-top: 0px;"><%= image.name %></h3>
Tags: <%
  var t = 0;
  _.each(image.tags,function(v) {
    if(t>0) print(', ');
    print('<a href="/tag/'+v+'/">'+v+'</a>');
    t+=1;
  });
%><br>
Author: <a href="/author/<%= image.author %>/"><%= image.author %></a> (<a class="no-ajax" href="<%= image.source %>">Source</a>)<br>
Uploaded by <a href="/uploader/<%= image.uploader %>/"><%= image.uploader %></a> 
<% if(req.session.user) print('[<a href="/edit/'+image.id+'/">edit</a>]'); %>
<% if(ui.socialButtons)
     print("<br><br>"+template("social-buttons"));
%>
</div>
<script type="text/javascript">
var iw = <%= image.width %>
  , ih = <%= image.height %>
  , conth = 0;
function doScale(obj,h) {
  if(iw == 0) iw = $(this).width();
  ih = h;
  var aspect = iw/ih;
  if(conth == 0) conth = $("#page-inject").height();
  var winh = $(window).height();
  var winw = $("#page-inject").width();
  var th = Math.min(ih,Math.floor(winh - conth - 32))
    , tw = th*iw/ih;
  if(tw > winw * 0.9) { tw = winw * 0.9; th = tw*ih/iw; }
  obj.attr("style","width: auto; height: " + th + "px; width: " + tw + "px; max-width: 100%;");
}
function resizer() {
  if(ih==0)
    $("img.to-resize").load(function(){doScale($(this),$(this).height());});
  else
    $("img.to-resize").each(function(idx){doScale($(this),ih);});
}
function pageLoad() {
  $(window).resize(resizer);
  resizer();
}
function pageUnload() { }
</script>
</div>
